.card {
border-top: 10px dotted #ff9789;
border-right: 10px dotted #377b00;
border-bottom: 10px dotted #ff9789;
border-left: 10px dotted #377b00;
background: #ff0000cf;
border-radius: 10px;
}

.counter {
  border-top: 10px dotted #ff9789;
 border-bottom: 10px dotted #ff9789;
 text-align: center;
 margin: auto;
 max-width: 35rem;
}

.spacing {
  padding-top: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
}

.guestbox {
  width: 20rem;
  max-width: 25rem;
  margin-top: 1rem;
  padding: 0.5rem;
  white-space: pre-wrap;
  word-break: break-all;
}

/* FONT */
.greet {
  color: rgb(1, 69, 1);
  margin: 0;
}

.small {
  font-size: x-small;
  text-align:  right;
}

.counttext {
  color: #ff0000;
  text-shadow: 0px 0px 20px rgb(2, 2, 2);
}


